@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.bl-footer {
  background: #0b1224;
  color: #cbd5e1;
  padding: 20px 0;
  margin-top: 40px;

  &__content {
    @include flex(space-between, center, 10px);
    flex-direction: column;
    text-align: center;
  }

  @include respond-md {
    &__content {
      flex-direction: row;
      text-align: left;
    }
  }
}